{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify simpletags %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script>

        function OpenWin(url) {
            var height = 600;
            var width = 700;
            var top = (screen.availHeight - height) / 2;
            var left = (screen.availWidth - width) / 2;

            window.open(url, "pp", 'height=' + height + ', width=' + width + ',top=' + top + ',left=' + left + ',  status=1,toolbar=no, menubar=no, scrollbars=yes, resizable=no,location=no, status=no');
//使弹出的页面得到焦点
            //return false;//防止刷新页面
        }

        function undo(model_label) {
            window.document.getElementById(model_label).value = "";
            window.document.getElementById("many-" + model_label).value = "";
        }
    </script>
    {#    <script type="text/javascript" src="{% static '/admin/simpleui-x/locale/en-us.js' %}?_=2.1.2"></script>#}
    <script src="/static/js/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/static/js/valid.js" charset="utf-8"></script>
    {{ media }}

{% endblock %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>{% endblock %}
{% block content %}
    <style type="text/css">
        .inline-group .tabular td.original p {
            margin-top: -33px;
        }

        .page-header {
            padding: 10px;
        }

    </style>
    <div id="content-main" class="form-main">
        {% if '_popup' not in request.GET %}
            <div class="page-header">
                <el-page-header @back="goBack" content="{{ title }}"/>
            </div>
        {% endif %}
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        <li>
                            <el-dialog title="{% trans "History" %}" :visible.sync="dialogTableVisible">
                                <iframe frameborder="0" :src="url" width="100%" height="300"></iframe>
                            </el-dialog>
                            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}

                            <el-button @click="go_url('{% add_preserved_filters history_url %}')" class="historylink"
                                       icon="fas fa-history">{% trans "History" %}
                            </el-button>
                        </li>
                        {% if has_absolute_url %}
                            <li>
                                <el-button @click="window.open('{{ absolute_url }}')" class="viewsitelink"
                                           icon="fas fa-globe-asia">{% trans "View on site" %}</el-button>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endif %}{% endif %}
        {% endblock %}
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
              id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                    <div id="alert">
                        <el-alert
                                title="{% if errors|length == 1 %}
                            {% trans " Please correct the error below." %}
                {% else %}
                {% trans "Please correct the errors below." %}
                {% endif %}"
                                type="error">
                        </el-alert>
                    </div>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}

                        {% include "test_fieldset.html" %}
                    {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                {% block admin_change_form_document_ready %}
                    <script type="text/javascript"
                            id="django-admin-form-add-constants"
                            src="{% static 'admin/js/change_form.js' %}"
                            {% if adminform and add %}
                            data-model-name="{{ opts.model_name }}"
                            {% endif %}>
                    </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}

            </div>
        </form>

    </div>
    <script type="text/javascript">
        new Vue({
            el: '.page-header',
            methods: {
                goBack: function () {
                    window.location.href = '{% get_previous_url %}'
                }
            }
        })
        if ($(".object-tools").length != 0) {
            new Vue({
                el: '.object-tools',
                data: {
                    dialogTableVisible: false,
                    url: ''
                },
                methods: {
                    go_url: function (url) {
                        this.url = url;
                        this.dialogTableVisible = true;
                    }
                }
            })
        }
        if (document.getElementById('alert')) {
            new Vue({
                el: '#alert'
            })
        }
    </script>

    <script type="text/javascript">
        $(".field-age").hide();
        $(".field-month").hide();
        const model_name = '{{ model_name }}';
        console.log(model_name);
        const map_field = {
            'h_store_vaccine_in': ['keep_amount'],//疫苗入库
            'h_store_feedingin': ['keep_amount', 'operation'],//饲料入库
            'h_store_feeding_out': ['out_purposes'],
            'h_store_inventory': ['operation'],
            'd_health_immunizationinfo': ['imm_age'],//
            'd_health_drugbathinfo': ['drug_age'],
            'basic_cutinfo': ['ele_quantity', 'variety'],
            'e_breed_postnatalinfo': ["breeding_date", "ewe_id", "ram_id", "Booroola", "lamb_ele_num", "bir_weight"],
            'e_breed_breedinginfo': ['ewe_variety', 'ram_variety'],
            'e_breed_lambinfo': ['basic_id'],
            'supply_f_suppliersinfo': ['operation'],
            'supply_v_suppliersinfo': ['operation'],
        };
        if (model_name in map_field) {
            fields = map_field[model_name];
            for (var i = 0; i < fields.length; i++) {
                $(".field-" + fields[i]).hide()
            }
        }

    </script>
{#    <script>#}
{##}
{#        {% if object_id %}#}
{#            read_only = {#}
{#                'h_store_feedingin': ['f_name', 'type', 'maker_id'],//饲料入库#}
{#                'h_store_feeding_out': ['f_name', 'type', 'maker_id'],#}
{#                'h_store_vaccine_in': ['v_name', 'type', 'maker_id'],#}
{#                'h_store_vaccine_out': ['v_name', 'type', 'maker_id'],#}
{#                'h_store_inventory': ['type', 'goods', 'maker_id', 'quantity', 'f_date', 'out_time', 'f_staff']#}
{#            };#}
{#            if (model_name in read_only) {#}
{#                fields = read_only[model_name];#}
{#                for (var i = 0; i < fields.length; i++) {#}
{#                    $(".field-" + fields[i] + ' input').attr('readOnly', true);#}
{#                    $(".field-" + fields[i] + ' select option:not([selected])').remove();#}
{#                    $(".field-" + fields[i] + ' input[type="button"]').attr('disabled', true);#}
{#                    var span=$(".field-" + fields[i] + ' div span');#}
{#                    console.log(span);#}
{##}
{##}
{#                }#}
{#            }#}
{#            {% for k,v in change_data.items %}#}
{#                {% if model_name == 'h_store_feedingin' or model_name == 'h_store_fedding_out' %}#}
{#                    window.document.getElementById('supply_f_suppliersinfo').value = '{{ v }}';#}
{#                {% else %}#}
{#                    console.log('{{ k }}');#}
{#                    console.log('{{ v }}');#}
{#                    window.document.getElementById('{{ k }}').value = '{{ v }}';#}
{#                {% endif %}#}
{##}
{#            {% endfor %}#}
{#        {% endif %}#}
{##}
{#    </script>#}

{% endblock %}

{% block js %}
    <script>

        {% if object_id %}
            read_only = {
                'h_store_feedingin': ['f_name', 'type', 'maker_id'],//饲料入库
                'h_store_feeding_out': ['f_name', 'type', 'maker_id'],
                'h_store_vaccine_in': ['v_name', 'type', 'maker_id'],
                'h_store_vaccine_out': ['v_name', 'type', 'maker_id'],
                'h_store_inventory': ['type', 'goods', 'maker_id', 'quantity', 'f_date', 'out_time', 'f_staff']
            };
            if (model_name in read_only) {
                fields = read_only[model_name];
                for (var i = 0; i < fields.length; i++) {
                    $(".field-" + fields[i] + ' input').attr('readOnly', true);
                    $(".field-" + fields[i] + ' select option:not([selected])').remove();
                    $(".field-" + fields[i] + ' input[type="button"]').attr('disabled', true);
                    var span=$(".field-" + fields[i] + ' div span');
                    console.log(span);


                }
            }
            {% for k,v in change_data.items %}
                {% if model_name == 'h_store_feedingin' or model_name == 'h_store_fedding_out' %}
                    window.document.getElementById('supply_f_suppliersinfo').value = '{{ v }}';
                {% else %}
                    console.log('{{ k }}');
                    console.log('{{ v }}');
                    window.document.getElementById('{{ k }}').value = '{{ v }}';
                {% endif %}

            {% endfor %}


        {% endif %}

    </script>

{% endblock %}

